@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');

html {
  background: url(images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.all{
background-color: #00b6da;
}

.link0{
    color: black;
    font-family: 'PT Sans', sans-serif;
    text-decoration: none;
    font-weight: bold;
    border-radius: 1px;
    border: none;
    color: #000000;
    text-align: center;
    font-size: 20px;
    margin:5px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    padding:10px;
    


}

.link0:hover {

    background-color: #075e97;
    font-size: 30px;
}

.mainpage{
    color: black;
    font-family: 'PT Sans', sans-serif;
    text-decoration: none;
    font-weight: bold;
    border-radius: 1px;
    border: none;
    color: #000000;
    text-align: center;
    font-size: 20px;
    margin:5px;
    width: 200px;

    cursor: pointer;
    padding:10px;

}
.mainpage:hover{
background-color: #075e97;
size:fixed;
}
