<!DOCTYPE html>
<html lang="en">
<head>
        <p style="color: blue;"><title>DBL HTI + Webtech</title>
         <link rel="stylesheet" href="css/DBL.css">

        
</head>
<body style="background-color: #00b6da">
    <div class = "Background">
        <h1>Group info</h1>
    </div>
   <header>
     <div>
     <a href="Indexpage.html" >Main page</a>
     </div>
  </header>
   <main>
     <article class = "group">
         
         <div>
            <h2 class = "groupinfo">About Group 11: Members</h2>
            <div class = "members">
            <div>Athanasios Papamichail (Pics will be put underneath each name and a small amount of text next to them)
              <p>I'm Athanasios but you can call me Thanos, I am 19 years old and from Greece, and I am currently studying Computer Science and Engineering.</p> 
            </div>
            <div>Naomi Han
              <p>Text here</p>
            </div>
            <div>Eva Boots
              <p>text here</p>
            </div>
            <div>Sven Mokveld
              <p>text here</p>
            </div>
            <div>Ole Wouters
              <p>text here</p>
            </div>
            <div>Nick Jeurissen
              <p>text here</p>
            </div>
            <div>Mathew Chen
              <p>text here</p>
            </div>
          </div>
           
             
            
             
            

         </div>
     </article>
        
   </main>
   
   <footer>

   </footer>


</body>
</html>
