<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DBL HTI + Webtech</title>
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='DBL.css') }}>
    <script src="https://d3js.org/d3.v4.min.js"></script>

</head>
<div>

    <body background="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/8fabbc7c-436b-4716-94c9-1a42d5d879d2/d92qhue-5da76253-c1cb-45db-8661-272003dbd252.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzhmYWJiYzdjLTQzNmItNDcxNi05NGM5LTFhNDJkNWQ4NzlkMlwvZDkycWh1ZS01ZGE3NjI1My1jMWNiLTQ1ZGItODY2MS0yNzIwMDNkYmQyNTIucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.ACHV6DZ95RSfX2LzXyMyG4DdT5JCJmuw4NFMRaEzFnM">
    <div class = "Background">
        <h1>DBL HTI + Webtech</h1>
    </div>

    <div class="link0">
        This website is made by students of the Eindhoven University of Technology as a part of the course DBL HTI + Webtech. <br>
        This website is designed to visualize large datasets in CSV formats, in order to help people process and learn from this data. <br>
        <br>
        The team consists of seven students:<br>
        Eva Boots, Mathew Chen, Nick Jeurissen, Naomi Han, Sven Mokveld, Athanasios Papamichail and Ole Wouters. <br>
        The students within this group study three different bachelor programs, creating an optimal combination of knowledge. <br>
        We hope that this website helps you with your visualization needs! <br>
        <br>
        <a href="Visualisation.html" >Data visualisation</a><br>
        <br>
        On our website there are multiple different types of data visualisation, which can be found by clicking on the button above.<br>
        This will direct you to the dual visualisation, which will display your data in both a matrix and a node link diagram.<br>
        On this page you'll the directions to the other webpages, if you would wish to see one of the visualisations in more detail.<br>
    </div>
    </body>
</html>


</body>
</html>
