<!DOCTYPE html>
<html lang="en">
<head>
        <p style="color: blue;"><title>DBL HTI + Webtech</title>
</head>
<body style="background-color: #00b6da">
    <div class = "Background">
        <h1>Progress frontend</h1>
    </div>
   <header>
     <div>
     <a href="Indexpage.html" >Main page</a>
     </div>
  </header>
   <main>
     <article>
        We have managed to import data, get links to different sites(or pages), import (static) images from online source, basic structure in website. 
     </article>
     <article>
        We still need to look into how to have interactive interfaces encorporated in the site.
     </article> 
   </main>
   
   <footer>

   </footer>


</body>
</html>